* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lavender;
}
.text {
  text-align: center;
}
.container {
  background-color: aliceblue;
  border-radius: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  box-shadow: 9px 8px 22px black;
}
li:hover {
  background-color: aquamarine;
  border-radius: 18px;
}
.log:hover {
  background-color: aquamarine;
  border-radius: 18px;
}
.log {
  opacity: 80%;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  margin-left: 12px;
  font-size: 20px;
  box-shadow: 12px 13px 17px black;
  border-radius: 50%;
}
.container ul li a {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Counter {
  background-color: blueviolet;
  margin: 30px auto;
  display: flex;

  padding: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.Counter button {
  margin-left: 12px;
}
span {
  font-size: 20px;
  font-weight: 700;
}

.info-box {
  background-color: aquamarine;
  border-radius: 20px;
  width: 70%;
  height: 20vh;
  text-align: center;
  margin: 12px auto;
}
